@model AspNetCoreMVC.Models.UpisNaPredmet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UpisNaPredmet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predmet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predmet.PredmetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UpisNaPredmetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
